<a class='btn btn-default btn-block' href='mailto:s.shukla@jacobs-university.de' style='text-align:center;position:fixed;bottom:0;' target='_blank'>
  Notice : This is a demonstration site. All rights reserved. Siddharth Shukla
</a>